* {
  margin: 0;
  padding: 0; }

@media screen and (min-width: 760px) {
  header {
    width: 100%;
    height: 466px;
    position: relative;
    background-image: url("http://csswizardry.com/img/css/masthead-medium.jpg");
    background-repeat: repeat;
    background-size: 100% auto;
    background-origin: border-box;
    background-position: 0 45%; }
    header nav {
      float: left;
      width: 100%; }
      header nav .nav-left-logo {
        float: left;
        margin: 15px 125px; }
      header nav .nav-right-ul {
        float: right;
        text-align: center;
        margin-right: 100px; }
        header nav .nav-right-ul .nav-right-lis {
          float: left;
          margin: 42px 12px;
          list-style-type: none; }
          header nav .nav-right-ul .nav-right-lis .nav-right-btn {
            text-decoration: none; }
            header nav .nav-right-ul .nav-right-lis .nav-right-btn:visited, header nav .nav-right-ul .nav-right-lis .nav-right-btn:link {
              color: #fff; }
            header nav .nav-right-ul .nav-right-lis .nav-right-btn:hover {
              text-decoration: underline; }
          header nav .nav-right-ul .nav-right-lis .nav-right-lis-ul {
            position: absolute;
            clear: both;
            right: 240px;
            border: 1px solid #fff;
            border-radius: 5px;
            background: #fff;
            display: none; }
            header nav .nav-right-ul .nav-right-lis .nav-right-lis-ul #arrow {
              list-style-type: none;
              border-bottom: 2px solid #ccc;
              padding: 8px 0;
              font-size: 22px; }
            header nav .nav-right-ul .nav-right-lis .nav-right-lis-ul .nav-right-lis-li {
              list-style-type: none;
              margin: 4px 8px;
              padding: 10px 4px; }
              header nav .nav-right-ul .nav-right-lis .nav-right-lis-ul .nav-right-lis-li .nav-right-lis-btn {
                text-decoration: none;
                border-bottom: 1px solid #eee;
                width: 100%; }
                header nav .nav-right-ul .nav-right-lis .nav-right-lis-ul .nav-right-lis-li .nav-right-lis-btn:hover {
                  color: #f43095; }
                header nav .nav-right-ul .nav-right-lis .nav-right-lis-ul .nav-right-lis-li .nav-right-lis-btn:hover::before {
                  content: "\5B";
                  left: -20px; }
                header nav .nav-right-ul .nav-right-lis .nav-right-lis-ul .nav-right-lis-li .nav-right-lis-btn:hover::after {
                  content: "\5D";
                  right: -20px; }
    header .header-title {
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      text-align: center;
      font-size: 64px;
      font-family: Arial;
      color: #fff; }

  .text-first {
    float: left;
    width: 100%;
    margin-top: 45px;
    text-align: center; }
    .text-first .text-first-text {
      float: left;
      width: 100%;
      text-align: center; }
      .text-first .text-first-text .text-first-text-li {
        line-height: 150%;
        float: left;
        margin: 10px 15px;
        width: 30%;
        list-style-type: none; }
        .text-first .text-first-text .text-first-text-li h2 {
          margin-bottom: 25px;
          color: #f43095; }
        .text-first .text-first-text .text-first-text-li p {
          color: #333; }
    .text-first .bottom-btn {
      float: left;
      margin-top: 25px;
      width: 100%; }
      .text-first .bottom-btn .left-btn {
        text-decoration: none;
        color: #f43095;
        border: 1px solid #f43095;
        border-radius: 2px;
        background: #fff;
        padding: 8px 20px; }
      .text-first .bottom-btn .right-btn {
        text-decoration: none;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 2px;
        background: #f43095;
        padding: 9px 21px; } }
@media screen and (max-width: 1050px) {
  #text-first-one {
    width: 90%;
    margin: 20px; }

  #text-first-two, #text-first-three {
    width: 45%; } }

/*# sourceMappingURL=main.css.map */
